@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import "tailwindcss";


@theme {
  --font-merriweather: 'Merriweather', serif;
  --color-baby-blue: oklch(0.92 0.04 212);

  @keyframes fade-out {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes nav-slide {
    from {
      transform : translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }

}

@layer utilities {

  .scroll-reveal {
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
  }

  .scroll-reveal.active {
    opacity: 1;
    transform: translateY(0);
  }

  .initialScreen-fade-out {
    animation: fade-out 1s 
  }

  .navbar-slide {
    animation: nav-slide 0.8s ease-out forwards;
  }

  .initialScreen-fade-in {
    animation: fade-in 1s ease-out 0.5s forwards;
    opacity:0;
  }
}